.category-card .rounded-circle {
    border: 3px solid transparent;
    transition: border-color 0.3s ease, transform 0.3s ease;
  }
  
  .category-card .rounded-circle:hover {
    border-color: red;
    transform: scale(1.07);
  }
  