.custom-small-img {
    width: 100%;  
    height: 500px;  
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.custom-small-img:hover {
    transform: scale(1.1);
}

.custom-img-size {
    width: 100%; 
    height: 500px;  
    object-fit: cover;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
