.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 550px;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Space between image and text */
}

.about-us-image img {
    width: 80%; /* Adjust image size to medium width */
    height: auto;
    max-height: 400px; /* Set a maximum height */
    border-radius: 10px;
}

.about-us-text {
    flex: 2;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-text h2 {
    font-size: 36px; /* Adjusted font size */
    margin-bottom: 15px;
    text-align: left;
    font-Family: 'centaur';
    font-Size: '1.25rem';
}

.about-us-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
    font-Family: 'centaur';
    font-Size: '1.25rem';
}
